@import "../../scss/variables";

.c-support {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & ul {
        
    }
}