// Common Colors
$white: #fff;
$black: #000;
$special-primary: #93B239;

// Named Colors
$background: $black;
$text-primary: $white;

// Fonts
$font--primary: "Poppins";
$font--secondary: "Bebas Neue";

// DESKTOP: Font sizes (in pixels) / line-heights
$font-size--h1: 60;
$line-height--h1: 66;

$font-size--h2: 46;
$line-height--h2: 52;

$font-size--h3: 26;
$line-height--h3: 28;

$font-size--h4: 22;
$line-height--h4: 28;

$font-size--h5: 18;
$line-height--h5: 20;

$font-size--paragraph: 16;
$line-height--paragraph: 28;

$font-size--label: 14;
$line-height--label: 20;

$font-size--input: 14;
$line-height--input: 20;

$font-size--button: 16;
$line-height--button: 24;


// MOBILE: Font sizes (in pixels) / line-heights
$s-font-size--h1: 40;
$s-line-height--h1: 43;

$s-font-size--h2: 24;
$s-line-height--h2: 28;

$s-font-size--h3: 20;
$s-line-height--h3: 28;

$s-font-size--h4: 12;
$s-line-height--h4: 28;

$s-font-size--h5: 14;
$s-line-height--h5: 20;

$s-font-size--paragraph: 14;
$s-line-height--paragraph: 18;

$s-font-size--label: 12;
$s-line-height--label: 16;

$s-font-size--input: 14;
$s-line-height--input: 18;

$s-font-size--button: 14;
$s-line-height--button: 18;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px,
);

$screen-sm: #{map-get($grid-breakpoints, sm)};
$screen-md: #{map-get($grid-breakpoints, md)};
$screen-lg: #{map-get($grid-breakpoints, lg)};
$screen-xl: #{map-get($grid-breakpoints, xl)};

$screen-phone: $screen-sm;
$screen-tablet: $screen-md;
$screen-desktop: $screen-lg;
$screen-lg-desktop: $screen-xl;

$screen-xs-max: #{map-get($grid-breakpoints, sm) - 1};
$screen-sm-max: #{map-get($grid-breakpoints, md) - 1};
$screen-md-max: #{map-get($grid-breakpoints, lg) - 1};
$screen-lg-max: #{map-get($grid-breakpoints, xl) - 1};

// Lazy media query variables.
$mobile: "screen and (min-width: #{$screen-sm})";
$tablet: "screen and (min-width: #{$screen-md})";
$normal: "screen and (min-width: #{$screen-lg})";
$wide: "screen and (min-width: #{$screen-xl})";
$mobile-only: "screen and (max-width: #{$screen-sm-max})";
$tablet-only: "screen and (min-width: #{$screen-md}) and (max-width: #{$screen-md-max})";
$normal-only: "screen and (min-width: #{$screen-lg}) and (max-width: #{$screen-lg-max})";
$mobile-down: "screen and (max-width: #{$screen-sm-max})";
$tablet-down: "screen and (max-width: #{$screen-md-max})";
$normal-down: "screen and (max-width: #{$screen-lg-max})";

// Transitions
$transition-fast: 0.35s;
$transition-normal: 0.55s;
$transition-slow: 0.75s;

// Border radius
$border-radius--primary: 100%;
$border-radius--secondary: 7px;

// Shadows

$box-shadow--primary: 0 2px 4px rgba(0,0,0,.25);
$box-shadow--secondary: 0 2px 6px rgba(0,0,0,.35);

// Z-index
$index-low: -5;
$index-1: 1;
$index-2: 10;
$index-3: 50;
$index-4: 100;
$index-5: 200;
$index-6: 300;
$index-top: 999;